@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<h1>Welcome to QuizApp!</h1>
<p>Choose an action:</p>

<ul>
    <li><a asp-controller="User" asp-action="Log in">Log in</a></li>
    <li><a asp-controller="Quiz" asp-action="Create">Create quiz</a></li>
</ul> 