@{
    ViewData["Title"] = "Velkommen";
    Layout = "_Layout";
}

<h1>Velkommen til QuizApp!</h1>
<p>Velg en handling:</p>

<ul>
    <li>LoginLogg inn</a></li>
    <li>CreateOpprett en quiz</a></li>
    