<head>
    <title>Home Page</title>
</head>

<body>

@{
    ViewData["Title"] = "Welcome";
    Layout = "_Layout";
}

<h1>Welcome to QuizApp!</h1>
<p>Choose an action:</p>

<ul>
   <ul>
    <li><a asp-controller="User" asp-action="Login">Log in</a></li>
    <li><a asp-controller="Quiz" asp-action="CreateQuiz">Create quiz</a></li>
</ul>

</body>

