@{
    ViewData["Title"] = "Velkommen";
    Layout = "_Layout";
}

<h1>Velkommen til QuizApp!</h1>
<p>Velg en handling:</p>

<ul>
   <ul>
    <li><a asp-controller="Account" asp-action="Login">Logg inn</a></li>
    <li><a asp-controller="Quiz" asp-action="Index">Quiz</a></li>
</ul>

